body {
    background-color: #A3DFF2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Digital Numbers';
    src: url('DigitalNumbers-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

 .azuloscuro {
    position: absolute;
    width: 1004px;
height: 567px;
opacity: 1;
top: 150px;
left: 130px;
background-color: #82DBF7;
    border-width: 7.07px;
    border-color: black;
    border-style: solid;
 }

 .cajaazul {
    position: absolute;
    width: 485px;
height: 517.2616577148438px;
opacity: 1;
top: 25px;
left: 259px;
    background-color: #2C7998;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 8px;
 }

 .resultado {
    position: absolute;
    width: 418.325927734375px;
height: 75.27716064453125px;
opacity: 1;
top: 39.79px;
left: 30px;
    border-width: 8px;
    border-style: solid;
    border-color: black;
    background-color: #839D36;
 }

 .resultado p {
    position: relative;
    width: 313px;
height: 42px;
opacity: 1;
top: -10px;
left: 50px;
    font-size: 32.26px;
    justify-content: center;
    align-items: center;
    font-family: "Digital Numbers";
 }

.inputcomida {
    position: absolute;
    width: 418.325927734375px;
height: 60px;
opacity: 1;
top: 241px;
left: 33.34px;
    border-radius: 8.84px;
    border-style: solid;
    border-color: black;
    border-width: 7.07px;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
}

.inputcomida::placeholder {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
    left: 140px;
    top: 10px;
}

.calcular {
    position: absolute;
    width: 237.66075134277344px;
    height: 63.44789505004883px;
    background-color: #FF0000;
    border-style: solid;
    border-color: black;
    border-width: 7.07px;
    border-radius: 442.06px;
    top: 430px;
    left: 126.9px;
}

.calcular p {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-style: Regular;
    font-size: 32.26px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    top: -15px;
    left: 35px;
}

.botoncalcular {
    position: absolute;
    width: 237.66075134277344px;
    height: 63.44789505004883px;
    background-color: transparent;
    border: none;
}

.grupocomidasss {
    position: absolute;
    width: 418.325927734375px;
height: 60px;
opacity: 1;
top: 150px;
left: 33.34px;
    opacity: 1;
    border-width: 7.07px;
    border-radius: 8.84px;
    border-style: solid;
    border-color: #000000;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
}

.grupocomidasss::placeholder {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 10px;
    left: 60px;
}

.cantidaddd {
    position: absolute;
    width: 194.64523315429688px;
height: 60px;
opacity: 1;
top: 335px;
left: 33.34px;
    opacity: 1;
    border-width: 8px;
    border-style: solid;
    border-color: #000000;
    border-radius: 16px;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
}

.cantidaddd::placeholder {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 10px;
    left: 25px;
}

.unidaddd {
    position: absolute;
    width: 194.64523315429688px;
height: 60px;
opacity: 1;
top: 335px;
left: 257.02px;
    border-width: 8px;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
}

.unidaddd::placeholder {
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-size: 37.64px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 10px;
    left: 45px;
}

.logo {
    position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 5px;
    left: 961px;
    opacity: 1;
}

.atras {
    position: absolute;
    width: 252;
    height: 59;
    top: 23px;
    left: 137px;
    padding: 10px;
    gap: 10px;
}