body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', Arial, sans-serif;
    background-color: #A3DFF2;
    display: flex;

}

/* LOGO */
.logo {
    position: absolute;
    width: 23.52%;   /* 301 / 1280 */
    height: 23.59%;  /* 169.85 / 720 */
    top: 2.64%;      /* 19 / 720 */
    left: 5.23%;     /* 67 / 1280 */
}

/* FRAME AZUL */
.frameazul {
    position: absolute;
    background-color: #39ABD9;
    border: 0.48% solid #000000; /* 6.14px */
    width: 44.53%;   /* 570 / 1280 */
    height: 69.88%;  /* 503 / 720 */
    top: 7.08%;      /* 50.97 / 720 */
    left: 28.75%;    /* 368 / 1280 */
    border-radius: 1.44rem; /* 23.02 / 16 */
    
    padding-top: 5.33%;
    padding-right: 3.66%;
    padding-bottom: 8.74%;
    padding-left: 3%;
}

/* TITULO */
.iniciosesion {
    width: 23.98%;
    height: 8.19%;
    padding-left: 11.72%;
}

/* TEXTO */
.quieneres {
    width: 48.31%;
    height: 6.82%;
    font-family: Fredoka;
    font-size: 2.16vw;
    color: #000;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

/* CONTENEDOR PADRE-NIÑO */
.padreoniño {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.93%;
    height: 29.73%;
    margin-top: 4.17%;
    border-radius: 47.96rem; /* 767.3 / 16 */
}

/* BLOQUES */
.padre, .niño {
    width: 18.58%;
    height: 29.73%;
    border: 0.63% solid #000; /* 8px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PADRE */
.padre {
    background-color: #FFE100;
    border-top-left-radius: 1.875rem;  /* 30px */
    border-bottom-left-radius: 1.875rem;
}

/* NIÑO */
.niño {
    background-color: #3CB371;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}

/* ICONOS */
.iconopadre, .icononiño {
    height: 18.06%;
    object-fit: contain;
    margin-top: 4.17%;
}

/* TEXTOS */
.padrep, .niñop {
    font-family: "Fredoka One";
    font-size: 2.41vw;
    color: black;
}

/* CONTENEDOR EMA */
.emaa {
    position: relative; 
    width: 62.97%;
    height: 8.89%;
    top: 27.78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR INTERNO */
.emaforra {
    width: 20.39%;
    height: 8.61%;
    padding: 0.78%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXTO FINAL */
.quieneres {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.81vw;
    color: #000;
    text-align: center;
    margin: 0;
    white-space: nowrap;
}