body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', Arial, sans-serif;
    background-color: #A3DFF2;
    display: flex;
    width: 1280px;
    height: 720px;
  }
  
  .logo {
    position: absolute;
    width: 301px;
    height: 169.85000610351562px;
    top: 19px;
    left: 67px;
    opacity: 1;
  }
  
  .frameazul {
    position: absolute;
    width: 610px;
height: 553.1383666992188px;
background-color: #39ABD9;
opacity: 1;
top: 113.97px;
left: 368px;
border: 6.14px solid #000000;
gap: 98.21px;
border-radius: 23.02px;
padding-top: 38.36px;
padding-right: 46.81px;
padding-bottom: 62.92px;
padding-left: 38.36px;
  }
  
  .iniciosesion {
    width: 307px;
height: 59px;
opacity: 1;
padding-left: 150px;
  }
  
  .quieneres {
    width: 618.4402465820312px;
height: 49.10691833496094px;
opacity: 1;
font-family: Fredoka;
font-weight: 400;
font-style: Regular;
font-size: 27.62px;
line-height: 100%;
letter-spacing: 0%;
color: #000;
text-align: center;
margin: 0;
white-space: nowrap; 
display: inline-block; 
gap: 5px;
  }
  
  .padreoniño {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 616px;
    height: 279px;
    border-radius: 30px;
    margin-top: 30px;
  }
  
  .padre, .niño {
    width: 308px;
    height: 279px;
    border: 8px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .padre {
    background-color: #FFE100;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 8px solid #000000
  }
  
  .niño {
    background-color: #3CB371;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 8px solid #000000
  }
  
  .iconopadre, .icononiño {
    height: 130px;
    object-fit: contain;
  }
  
  .padrep, .niñop {
    font-family: "Fredoka One";
    font-size: 48px;
    color: black;
    margin-top:15px;
  }
  .emaa {
    position: relative; 
    width: 806px;
    height: 64px;
    opacity: 1;
  top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .emaforra {
    width: 261px;
    height: 62px;
    opacity: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .emaa {
    width: 100%;          
    height: 64px;          
    display: flex;
    justify-content: center; 
    align-items: center;     
  }
  
  .emaforra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;  
    height: 62px;  
  }
  
  .quieneres {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000;
    text-align: center;
    margin: 0;
    white-space: nowrap; 
  }
  