body {

    background-color: #A3DFF2;
    position: relative;
    margin: 0;
}

.azuloscuro {
    position: absolute;
    width: 1440px;
    height: 143px;
    top: 0;
    left: 0;
    background-color: #39ABD9;
    z-index: 500;
    width: 100%;
height: 143px;
angle: 0 deg;
opacity: 1;

}

.usuario {
    background-color: transparent;
    border: none;
    position: absolute;
 width: 70px;
height: 70px;
top: 45px;
left: 1147px;
border-width: 10.37px;
angle: 0 deg;
opacity: 1;

    z-index: 1000;
}
.glucagon {

    background-color: transparent;
   
    border: none;
    top: 200px;
    left: 350px;
    opacity: 1;
}

.foro {

    background-color: transparent;
    border: none;
    top: 616px;
    left: 750px;

}

.logo {

    background-color: transparent;
    border: none;
    position: absolute;
    top: 19px;
    left: 67px;
    opacity: 1;
    z-index: 1000;
}

.logo img {
    width: 301px;
    height: 169.85000610351562px;
}

.mapa {
    background-color: transparent;
    border: none;
    top: 200px;
    left: 750px;
    opacity: 1;
}

.calculadora {
    background-color: transparent;
    border: none;
    top: 620px;
    left: 350px;
    opacity: 1;
   
}

.terminos {
    position: absolute;
width: 154.53147888183594;
height: 146;
top: 568px;
left: 1114px;
gap: 4px;
angle: 0 deg;
opacity: 1;

}

.cosas {
    position: absolute;
   width: 1209.27099609375px;
height: 300px;
top: 244px;
left: 34px;
angle: 0 deg;
opacity: 1;
display: flex;

align-items: center;;
}