body {
    margin: 0;
    padding: 0;
    font-family: "Fredoka One", Arial, sans-serif;
    background-color: #A3DFF2;
  }

@font-face {
    font-family: "Fredoka";
    src: url("../iniciodesesion/Fredoka-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.BOTON1, .BOTON2, .BOTON3, .BOTON4, .BOTON5 {
  z-index: 5000;
  background: transparent;
  border: none;
  height: 138px;
  width: 138px;
}

.popup {
  position: absolute;
  width: 842px;
height: 477px;
opacity: 1;
top: 120px;
left: 80px;
background-color: #FCEBD9;
opacity: 1;
border-width: 8px;
border-radius: 20px;
border-color: black;
border-style: solid;
display: none;
z-index: 5100;
}

.popupcontenedor {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Fredoka", sans-serif;
}

.popupcontenedor h3 {
  position: relative;
  text-align: center;
  opacity: 1;
  font-family: "Fredoka";
  font-style: Medium;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.popupcontenedor h4 {
  position: relative;
  font-family: "Fredoka";
font-size: 33px;
line-height: 100%;
letter-spacing: 0%;
}

.fila {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: -10px 0;
    text-align: left;
    padding-left: 50px;
    margin-top: -40px;
}

.icono {
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.cerrar {
  position: absolute;
  width: 60px;
height: 60px;
top: -48px;
left: 760px;
opacity: 1;
  background-color: transparent;
  border: none;
}

  .volveratras {
    position: absolute;
    top: 23px;
    left: 137px;
    opacity: 1;
    width: 252px;
    height: 59px;
}

  .advertenciaamarilla{
    width: 899px;
    height: 123px;
    padding: 15px;
    margin: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Fredoka One", Arial, sans-serif;
    background-color: #F7B81D;
    border-radius: 30px;
    border:4px black solid;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 10px;
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    justify-content: center;
}


.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 8px solid black;
    overflow: hidden;
    z-index: 10;
    width: 1008px;
    height: 650px;
    top: 150px;
    left: 150px;
}
  
.restaurante1 {  
  position:absolute; 
  width: 138px;
height: 138px;
opacity: 1;
top: 196px;
left: 93px;
z-index: 1;
 }

.restaurante2 { 
  position:absolute; 
  width: 138px;
height: 138px;
opacity: 1;
top: 392px;
left: 139px;
z-index: 1;
}
.restaurante3 { 
  position:absolute; 
  width: 138px;
height: 138px;
opacity: 1;
top: 254px;
left: 484px;
z-index: 1;
 }
.restaurante4 { 
  position:absolute;
  width: 138px;
height: 138px;
opacity: 1;
top: 347px;
left: 753px;
z-index: 1;
 
}
.restaurante5 { 
  position:absolute; 
  width: 138px;
height: 138px;
opacity: 1;
top: 179px;
left: 860px;
z-index: 1;
}
.LOGO{
  position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 2px;
    left: 982px;
    opacity: 1;
}
.signowarning{
  position: absolute;
  width: 150px;
height: 150px;
top: 10px;
left: 15px;
opacity: 1;
border-radius: 15px;
}
.h1{
  position: absolute;
width: 700px;
height: 49px;
top: 15px;
left: 184px;
opacity: 1;
font-family: "Fredoka";
font-weight: 400;
font-style: Regular;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
z-index: 100;
color: black;

}
.hovered {
  z-index: 20;
  filter: brightness(1.5) drop-shadow(0 0 10px yellow);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.oculto {
  display: none;
}

