body {
    margin: 0;
    padding: 0;
    font-family: "Fredoka One", Arial, sans-serif;
    background-color: #A3DFF2;
  }
  .btnatras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: "Fredoka One", Arial, sans-serif;
    text-transform: uppercase;
    left: 117px;
    top: 43px;
    opacity: 1;
    border-width: 4px;
    gap: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 4px solid #777777;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    color: #777777;
    white-space: nowrap;
  }
  .advertenciaamarilla{
    width: 843px;
    height: 49px;
    padding: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Fredoka One", Arial, sans-serif;
    background-color: #F7B81D;
    border-radius: 30px;
    border:4px black solid;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 10px;
    position: relative;,
    z-index: 10;
    
}
.main img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
#signowarning{
  width: 75px;
  height: 75px;
  padding: 10px;
 
}
.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1205.6px;
    height: 783px;
    border: 8px solid black;
    left: 117px;
    top: 146px;
    overflow: hidden;
}
.main img {
    width: 100%;
    height: auto;
  }
  
  #restaurante1 {  position:absolute; top: 200px; left: 300px;width: 101.33px; height: 126.67px; }
#restaurante2 { position:absolute; top:  350px; left: 600px; width: 101.33px; height: 126.67px;}
#restaurante3 { position:absolute; top: 500px; left: 400px;width: 101.33px; height: 126.67px; }
#restaurante4 { position:absolute; top: 600px; left: 800px;width: 101.33px; height: 126.67px; }
#restaurante5 { position:absolute; top: 650px; left: 200px; width: 101.33px; height: 126.67px;}
.LOGO{
    position: absolute;
    left: 1133px;
    top: 14px;
}
