.pelo {
    display: none;
}

.pelo.visible {
    display: block;
}

.lentes {
    display: none;
}

.lentes.visible {
    display: block;
}

.piel {
    display: none;
}

.piel.visible {
    display: block;
}

.ojos {
    display: none;
}

.ojos.visible {
    display: block;
}