body {
    width: 1440px;
    height: 1024px;
    background-color: #A3DFF2;
    display: flex;
}

@font-face {
    font-family: "Fredoka";
    src: url("Fredoka-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.logo{
    position: absolute;
    width: 420px;
    height: 237px;
    top: 22px;
    left: 40px;
}

.azuloscuro {
    position: absolute;
    width: 814px;
    height: 897px;
    opacity: 1;
    top: 100px;
    left: 345px;
    border-radius: 40px;
    border-width: 8px;
    border-style: solid;
    border-color: black;
    background-color: #39ABD9;
}

.niñogrande {
    position: absolute;
    width: 415;
    height: 599;
    top: 207px;
    left: 356px;
}

.bienvenida {
    position: absolute;
    width: 594px;
    height: 156px;
    top: 50px;
    left: 110px;
}

.nombre {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 210px;
    left: 63px;
}

.nombrenene {
    position: absolute;
    width: 286px;
    height: 64px;
    opacity: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 285px;
    left: 63px;
}

.nombrenene::placeholder {
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.apellido {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 325px;
    left: 63px;
}

.apellidonene {
    position: absolute;
    width: 286px;
    height: 64px;
    opacity: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 400px;
    left: 63px;
}

.apellidonene::placeholder {
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.contraseña {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 440px;
    left: 63px;
}

.aceptar {
    position: absolute;
    width: 198px;
    height: 64px;
    background-color: #FBCE00;
    opacity: 1;
    top: 796px;
    left: 470px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 6px;
    font-family: "Fredoka";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.blanco {
    position: absolute;
    width: 276px;
    height: 375px;
    opacity: 1;
    background-color: white;
    top: 515px;
    left: 63px;
    border-radius: 13px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.cejas {
    position: absolute;
    width: 104.2909164428711px;
    height: 13.07132339477539px;
    top: 100px;
    left: 80px;
}

.piel {
    display: none;
}

.piel.visible {
    position: absolute;
    display: block;
    top: 100px;
    left: 35px;
}

.ojos {
    display: none;
}

.ojos.visible {
    display: block;
    position: absolute;
    left: 70px;
    top: 260px;
}

.pelo {
    display: none;
}

.pelo.visible {
    position: absolute;
    display: block;
    top: 20px;
    left: 40px;
}

.lentes {
    display: none;
}

.lentes.visible {
    position: absolute;
    display: block;
    top: 310px;
    left: 60px;
}

