body {
    background-color: #A3DFF2;
    display: flex;
}

@font-face {
    font-family: "Fredoka";
    src: url("Fredoka-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.logo{
    position: absolute;
    width: 313px;
height: 176.6214141845703px;
top: 11px;
left: 40px;
opacity: 1;
    opacity: 1;
}

.azuloscuro {
    position: absolute;
    width: 615.2642211914062px;
height: 678px;
top: 22px;
left: 353px;
opacity: 1;
    border-radius: 40px;
    border-width: 6.05px;
    border-style: solid;
    border-color: black;
    background-color: #39ABD9;
}

.niñogrande {
    position: absolute;
    width: 313.678955078125px;
height: 452.7558898925781px;
top: 156.46px;
left: 269.08px;
opacity: 1;
}

.registrate {
    position: absolute;
    width: 340px;
height: 84.12px;
left: 140px;
top: 2px;
opacity: 1;
}

.yatenescuenta {
    position: absolute;
    width: 360px;
height: 25px;
top: 93px;
left: 125px;
opacity: 1;
}

.nombre {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 126.49px;
    left: 47.63px;
}

.nombrenene {
    position: absolute;
    width: 216.17391967773438px;
    height: 48.11705780029297px;
    opacity: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 190px;
    left: 47.63px;
}

.nombrenene::placeholder {
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.apellido {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 215px;
    left: 47.63px;
}

.apellidonene {
    position: absolute;
    width: 216.17391967773438px;
    height: 48.11705780029297px;
    opacity: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 280px;
    left: 47.63px;
}

.apellidonene::placeholder {
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.contraseña {
    position: absolute;
    width: 286px;
    height: 44px;
    font-family: "Fredoka";
    font-size: 30.11px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 305px;
    left: 47.62px;
}

.aceptar {
    position: absolute;
    width: 150.23px;
    height: 48.12px;
    background-color: #FBCE00;
    opacity: 1;
    top: 601.66px;
    left: 232.8px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 4.54px;
    font-family: "Fredoka";
    font-size: 27.21px;
    line-height: 100%;
    letter-spacing: 0%;
}

.blanco {
    position: absolute;
    width: 208.61538696289062px;
height: 195.01004028320312px;
top: 370.37px;
left: 47.62px;
opacity: 1;
    background-color: white;
    border-radius: 13px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.piel {
    display: none;
}

.piel.visible {
    position: absolute;
    display: block;
    top: 43px;
    left: 17px;
}

.pelo {
    display: none;
}

.pelo.visible {
    position: absolute;
    display: block;
    top: 10px;
    left: 25px;
    z-index: 1500;
}

.pelo.mujer {
    position: absolute;
    left: 12px;
}

.piel.entero {
    position: absolute;
    left: 17px;
    top: 20px;
}

.lentes {
    display: none;
}

.lentes.visible {
    position: absolute;
    display: block;
    top: 87px;
    left: 40px;
    z-index: 1500;
}

