body {
    background-color: rgb(163, 223, 242);
    display: flex;
    padding: 0;
    margin: 0;
}
.explicacion{
    position: relative;
    z-index: 20;
    height: 100%;
    width: 100%;
}

.azuloscuro {
    position: absolute;
    width: 1087px;
    height: 538px;
    background-color: #8EE0FF;
    opacity: 1;
    top: 148px;
    left: 95px;
    border-style: solid;
    border-color: black;
    border-width: 7.64px;
}


.comida {
    position: absolute;
    width: 149px;
    height: 149px;
    opacity: 1;
    top: 23px;
    left: 96px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}


.carbos {
    position: absolute;
    width: 149px;
    height: 149px;
    opacity: 1;
    top: 23px;
    left: 818px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.botonesrojos {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 84px;
    left: 801px;
    gap: 145px;
}


.botonesrojos input{
    background-color: red;
    border-radius: 100%;
    border-color: red;
    width: 37.12821960449219px;
    height: 37.12821960449219px;
    opacity: 1;
}


.botonesazules {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 84px;
    left: 227px;
    gap: 145px;
}


.botonesazules input{
    background-color: blue;
    border-radius: 100%;
    border-color: blue;
    width: 37.12821960449219px;
    height: 37.12821960449219px;
    opacity: 1;
}


.botonatras {
    position: absolute;
    top: 38px;
    left: 110px;
    opacity: 1;
    width: 252px;
    height: 59px;
    background-color: transparent;
    border: none;
}


.botonatras img {
    width: 252px;
    height: 59px;
}

.imagenlogo {
    position: absolute;
    width: 272.91px;
    height: 154px;
    top: 6px;
    left: 993px;
    opacity: 1;
}
.display{
    display: none;
}
.displaya{
    display: block;
}
.posicion1{
    top: 350px;
    left: 550px;
    font-size: 24px;
    font-weight: bold;
}
.posicion2{
    top: 400px;
    left: 500px;
    font-size: 24px;
    font-weight: bold;
}
.posicion3{
    top: 450px;
    left: 450px;
    font-size: 24px;
    font-weight: bold;
}


.flechas {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    pointer-events: none;
    z-index: 1000;
}


.video {
    position: absolute;
    z-index: 2000;
    pointer-events: none;
  width: 100%;
    height: 100%;
}

@font-face {
  font-family: 'Fredoka';
  src: url('FredokaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.pop1 {
    position: absolute;
    background-color: #F37777;
    border-color: #FF0000;
    width: 535.219970703125px;
    height: 520.7132568359375px;
    top: 152px;
    left: 352px;
    opacity: 1;
    font-family: "Fredoka", sans-serif;
    border-style: solid;
    border-radius: 20px;
    border-width: 15px;
    z-index: 1500;
}

.pop2 {
    position: absolute;
    background-color: #F3F36E;
    border-color: #F7B81D;
    width: 535.219970703125px;
    height: 520.7132568359375px;
    top: 152px;
    left: 352px;
    opacity: 1;
    font-family: "Fredoka", sans-serif;
    border-style: solid;
    border-radius: 20px;
    border-width: 15px;
    z-index: 1500;
    
}

.pop3 {
    position: absolute;
    background-color: #A4DFAD;
    border-color: #16AC2D;
    width: 535.219970703125px;
    height: 520.7132568359375px;
    top: 152px;
    left: 352px;
    opacity: 1;
    font-family: "Fredoka", sans-serif;
    border-style: solid;
    border-radius: 20px;
    border-width: 15px;
    z-index: 1500;
}
.pop{
    background-color: #FCEBD9;
    border-color: #16AC2D;
    position: absolute;
    width: 535.219970703125px;
    height: 520.7132568359375px;
    top: 152px;
    left: 352px;
    opacity: 1;
    border-style: solid;
    border-radius: 20px;
    border-width: 12px;
    z-index: 1500;
}
.score {
    padding-top: 50px;
    opacity: 1;
    font-family: "Fredoka", sans-serif;
    font-size: 55px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    flex-direction: column;
}

.score::after {
    content: "BIEN";
    display: block;
}

.motivacion {
    font-family: "Fredoka", sans-serif;
    font-size: 55px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 30px;
}

.volverajugar {
    position: absolute;
    width: 324.4914245605469px;
    height: 52.50055694580078px;
    background-color: #39ABD9;
    top: 425.28px;
    left: 105.37px;
    opacity: 1;
    border: 5.06px solid #000000;
    border-radius: 49.71px;
    font-family: "Fredoka", sans-serif;
    font-size: 30.36px;
}

.cerrar {
    position: absolute;
    background-color: transparent;
    border: none;
    opacity: 1;
    top: 15px;
    left: 445px;
    opacity: 1;
    z-index: 110;
}

.cerrar img {
    width: 61.08073043823242px;
    height: 61.08073043823242px;
}

.antizindex{
    z-index: -200;
}