body {
    background-color: rgb(163, 223, 242);
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}


.azuloscuro {
    position:relative;
    background-color: rgb(130, 219, 247);
    width: 1283.14px;
    height: 833.36px;
    top: 138px;
    left: 78px;
    border-width: 8px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.comida {
    position: absolute;
    width: 229.1322479248047px;
    height: 229.1322479248047px;
    top: 78.92px;
    left: 260.53px;
    display: flex;
    flex-direction: column;
}


.carbos {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 79.77px;
    left: 780.75px;
    width: 229.1322479248047px;
    height: 229.1322479248047px;
}


.botonesrojos {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 163px;
    left: 748px;
    gap: 190px;
}


.botonesrojos input{
    background-color: red;
    border-radius: 100%;
    border-color: red;
    width: 49px;
    height: 49px;
}


.botonesazules {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 163px;
    left: 475px;
    gap: 190px;
}


.botonesazules input{
    background-color: blue;
    border-radius: 100%;
    border-color: blue;
    width: 49px;
    height: 49px;
}


.botonatras {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 38px;
    left: 110px;
    padding: 10px;
}


.botonatras img {
    width: 252px;
    height: 59px;
}


.imagenlogo {
    width: 287px;
    height: 161.95px;
    top: 11px;
    left: 1141px;
}
.display{
    display: none;
}
.posicion1{
    top: 350px;
    left: 550px;
    font-size: 24px;
    font-weight: bold;
}
.posicion2{
    top: 400px;
    left: 500px;
    font-size: 24px;
    font-weight: bold;
}
.posicion3{
    top: 450px;
    left: 450px;
    font-size: 24px;
    font-weight: bold;
}


.flechas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    pointer-events: none;
    z-index: 1000;
}


.video {
    position: absolute;
    z-index: 2000;
    pointer-events: none;
}

.pop1 {
    background-color: #F37777;
    border-color: #FF0000;
    width: 701px;
    height: 682px;
    opacity: 1;
    border-radius: 20px;
    border-width: 15px;
}

.pop2 {
    background-color: #F3F36E;
    border-color: #F7B81D;
    width: 701px;
    height: 682px;
    opacity: 1;
    border-radius: 20px;
    border-width: 15px;
}

.pop3 {
    background-color: #A4DFAD;
    border-color: #16AC2D;
    width: 701px;
    height: 682px;
    opacity: 1;
    border-radius: 20px;
    border-width: 15px;
}