body {
    width: 1280px;
    height: 720px;
    background-color: #A3DFF2;
    display: flex;
}

@font-face {
    font-family: 'Digital Numbers';
    src: url('DigitalNumbers-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.azuloscuro {
    position: absolute;
    width: 1087px;
    height: 538px;
    background-color: #8EE0FF;
    opacity: 1;
    top: 148px;
    left: 95px;
    border-style: solid;
    border-color: black;
    border-width: 7.64px;
}

.logo {
    position: absolute;
    width: 283px;
    height: 159.69285583496094px;
    opacity: 1;
    top: 8px;
    left: 969px;
    opacity: 1;
}

.atras {
    position: absolute;
    top: 33px;
    left: 95px;
    opacity: 1;
    width: 252px;
    height: 59px;
}

.mesa {
    position: absolute;
    width: 606px;
    height: 274px;
    opacity: 1;
    top: 265px;
    left: -2px;
    z-index: 1000;
}

.normal {
    position: absolute;
    width: 264.1015319824219px;
    height: 355.61529541015625px;
    opacity: 1;
    top: 44px;
    left: 182px;
    z-index: 500;
}

.mucho {
    position: absolute;
    width: 265px;
    height: 355.61529541015625px;
    top: 44px;
    left: 182px;
    z-index: 500;
}

.baja {
    position: absolute;
    width: 380px;
    height: 355.61529541015625px;
    top: 44px;
    left: 140px;
    z-index: 500;
}

.glucometro {
    position: absolute;
    width: 181px;
    height: 273px;
    opacity: 1;
    top: 24px;
    left: 832px;
}

.nivelglucometro {
    position: absolute;
    top: 50px;
    left: 870px;
    font-family: "Digital Numbers", sans-serif;
    font-size: 46.57px;
    line-height: 100%;
    letter-spacing: 0%;
}

.display {
    display: none;
}

.plato {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 278px;
    left: 210px;
    z-index: 1500;
}

.plato img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.azucar img{
    position: absolute;
    width: 297.882568359375px;
    height: 62.68009567260742px;
    top: 459.65px;
    left: 778px;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

.azucar {
    background-color: transparent;
    border: none;
    z-index: 1500;
}

.insulina img{
    position: absolute;
    width: 297.882568359375px;
    height: 62.68009567260742px;
    top: 392px;
    left: 778px;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

.insulina {
    background-color: transparent;
    border: none;
    z-index: 1500;
}

.comer img{
    position: absolute;
    width: 297.2432556152344px;
    height: 78px;
    top: 308px;
    left: 779px;
    background-color: transparent;
    border: none;
}

.comer {
    background-color: transparent;
    border: none;
    z-index: 1500;
}

.mogul {
    position: absolute;
    width: 88.44047546386719px;
    height: 69.36508178710938px;
    opacity: 1;
    top: 441px;
    left: 456px;
    z-index: 1500;
}

.mogul1{
    position: absolute;
    width: 88.44047546386719px;
    height: 69.36508178710938px;
    opacity: 1;
    top: 441px;
    left: 410px;
    z-index: 1500;
}

.lapicera {
    position: absolute;
    width: 234.6269073486328px;
    height: 117.27706909179688px;
    opacity: 1;
    top: 426px;
    left: 36px;
    z-index: 1500;
}