body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", Arial, sans-serif;
  background-color: #A3DFF2;
}
.pop{
        position: absolute;
    background-color: #FCEBD9;
    border-color: #16AC2D;
    width: 701px;
    height: 682px;
    top: 112px;
    left: 358px;
    opacity: 1;
    font-family: "Fredoka", sans-serif;
    border-style: solid;
    border-radius: 20px;
    border-width: 15px;
    z-index: 1500;
    width: 571.3372192382812px;
height: 555.8516845703125px;
left: 239px;
angle: 0 deg;
opacity: 1;

}
.explicacion{
    z-index: 20;
    height: 100%;
    width: 100%;
}
.cerrar {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 80px;
    top: 31px;
    left: 584px;
    opacity: 1;
    z-index: 110;
    width: 65.2025375366211px;
height: 65.2025375366211px;
top: 25.27px;
left: 475.98px;
border-width: 6.52px;
angle: 0 deg;
opacity: 1;

}
@font-face {
    font-family: 'Fredoka';
    src: url('Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
  font-family: "Fredoka One";
  position: absolute;
}

.logo {
  position: absolute;
  width: 221px;
height: 124.70713806152344px;
top: 4px;
left: 1009px;
angle: 0 deg;
opacity: 1;

}

.containerdeimg {
  display: flex;
  flex-direction: column;
}
.imagen {
  width: 117.14398956298828px;
  height: 117.14398956298828px;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.boton {
  width:117.14398956298828px;
  height: 117.14398956298828px;
  gap: 10px;
  color: black;
  font-size: 50px;
  border-radius: 100%;
  font-family: "Fredoka One", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: "Regular";
 
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #ffffffb2;
  border: 2.52px solid #ffffff;
  cursor: pointer;
  font-weight: 800;
  font-weight: 400;
  font-style: normal;
  font-size: 76.19px;
  line-height: 100%;
  letter-spacing: 0%;
}
.boton:hover {
  padding: 5%;
  transition: all 0.3s ease;
}
.resultadodiv {
  position: fixed;
  margin-top: 12px;
  margin-left: 239px;
  transform: none;
  display: none;
  width: 701px;
  height: 682px;
  padding: 32px 28px;
  box-sizing: border-box;
  opacity: 1;
  border-radius: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  color: #000;
  z-index: -3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 571.3372192382812px;
height: 555.8516845703125px;
}
.amarillo {
  background-color: #f3f36e;
  border: 15px solid #f7b81d;
}
.verde {
  background-color: #a4dfad;
  border: 15px solid #16ac2d;
}
.rojo {
  background-color: #f29a9a;
  border: 14px solid #ff2b2b;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.08) inset;
  border-radius: 18px;
}
.cruz {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  transform: none;
  cursor: pointer;
  transform: none;
}
.frame {
  width: 1092px;
  height: 585px;
  opacity: 1;
  margin-top: 100px;
  margin-left: 95px;
  border: black, solid, 6.71px;
  background-color: #10ce2c;
  z-index: -2;
  overflow: hidden;



}
.dinoazul {
  position: fixed;
  width: 224.69297790527344;
  height: 192.83352661132812;
  opacity: 1;
  margin-top: 212px;
  margin-left: 99px;
  width: 159.52381896972656px;
height: 136.90476989746094px;
angle: 0 deg;
opacity: 1;
}
.dinoamarillo {
  position: fixed;
  width: 207.92483520507812px;
  height: 185.28787231445312;
  opacity: 1;
  width: 147.61904907226562px;
height: 131.54762268066406px;

angle: 0 deg;
opacity: 1;
margin-top: 8.93px;
margin-left: 305.95px;
angle: 0 deg;
opacity: 1;


}
.dinovioleta {
  position: fixed;
  width: 285.0582580566406;
  height: 219.6625213623047;
  opacity: 1;
  width: 202.38096618652344px;
height: 155.95237731933594px;
margin-top: 423px;
margin-left: 516px;
angle: 0 deg;
opacity: 1;

}
.boton1 {
  position: fixed;
  opacity: 1;
  margin-top: 43px;
  margin-left: 61px;
}
.boton2 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  margin-top: 102px;
  margin-left: 239px;
  border-width: 2.52px;
  border-radius: 83.84px;
}
.boton3 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  margin-top: 62px;
  margin-left: 493px;
  border-width: 2.52px;
  border-radius: 83.84px;
}
.boton4 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  margin-top: 258px;
  margin-left: 516px;
  border-width: 2.52px;
  border-radius: 83.84px;
}
.boton5 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  border-width: 2.52px;
  border-radius: 83.84px;
  margin-top:306px;
  margin-left: 306px;
}
.boton6 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  margin-top: 326px;
  margin-left: 99.07px;
  border-width: 2.52px;
  border-radius: 83.84px;
}
.boton7 {
  position: fixed;
  width: 165.16612243652344;
  height: 160.13568115234375;
  opacity: 1;
  margin-top: 445px;
  margin-left: 181px;
  border-width: 2.52px;
  border-radius: 83.84px;
}
.camino {
  position: absolute;
  width: 816.66px;
  height: 796.49px;
 
  z-index: -1;
  width: 705px;
height: 566px;
top: 65px;
left: -10px;
border-width: 4.76px;
angle: 0 deg;
opacity: 1;
}
.arbol1 {
  position: fixed;
  opacity: 1;
  width: 110.11904907226562px;
height: 95.23809051513672px;
margin-top: 19.05px;
margin-left: 166.07px;
}
.arbol2 {
  position: fixed;

  width: 123.80953216552734px;
height: 130.95237731933594px;


margin-top: 62px;
margin-left: 619px;


}
.arbol3 {
  position: absolute;
  width: 211.27845764160156;
  height: 426.7489318847656;
  opacity: 1;

  width: 150px;

angle: 0 deg;
opacity: 1;
width: 150;
height: 302.9761657714844;
top: 450.98px;
left: 297.62px;
angle: 0 deg;
opacity: 1;

}

.lineamarron {
  z-index: 2;
  width: 26.190473556518555px;
height: 587.5px;
margin-left: 789px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras4 {
width: 302.6794128417969px;
height: 154.760986328125px;
top: 376px;
left: 821px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras3 {
width: 302.6794128417969px;
height: 145.8284912109375px;
top: 277px;
left: 804px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras2 {
width: 285.7146301269531px;
height: 177.38739013671875px;
top: 141px;
left: 812px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras1 {
width: 296.0211486816406px;
height: 160.7146759033203px;
top: -4px;
left: 804px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras5 {
width: 296.0211486816406px;
height: 160.7146759033203px;
top: 451px;
left: 806px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.piedras6 {
width: 296.0211486816406px;
height: 160.7146759033203px;
top: 28px;
left: 815px;
border-width: 0.6px;
angle: 0 deg;
opacity: 1;

}
.containerdeimg {
  width: 350.4539489746094;
  height: 700.9078979492188;
  opacity: 1;

top: 41px;
left: 827px;


}
.tercerogrupo {
  display: flex;
  flex-direction: row;
  width: 361.353271484375;
  height: 157.6204376220703;
  opacity: 1;
  top: 270.24px;
  left: 0px;
  gap: 19.28px;
}
.segundogrupo {
  display: flex;
  flex-direction: row;
  width: 361.353271484375;
  height: 157.6204376220703;
  opacity: 1;
  top: 136.31px;
  left: 0px;
  gap: 19.28px;
}
.primergrupo {
  display: flex;
  flex-direction: row;

  top: -0px;
  left: 0px;
  gap: 19.28px;
  width: 256.5476379394531px;
height: 114.28572082519531px;
gap: 13.69px;
angle: 0 deg;
opacity: 1;

}
.imagen7 {
  width: 161.81246948242188;
  height: 160.9740753173828;
  opacity: 1;

  border-width: 6.71px;
top: 385.09px;
left: 62px;
angle: 0 deg;
opacity: 1;

}
.txtresultado {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52.26px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  transform: none;
  width: 555;
  height: 179;
  opacity: 1;
}

.txtresultado .numero {
  position: relative;
  font-family: "Fredoka One", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52.16px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  margin: 0 6px;
  transform: none;
}
.zindex {
  z-index: 10;
}
.felicidades {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 555;
  height: 77;
  opacity: 1;
  font-family: "Fredoka One";
  font-weight: 400;
  font-style: normal;
  font-size: 52.16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 200px;
  margin-left: 45px;
}
.textosresultado {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 555px;
  height: 338px;
  top: 149px;
  left: 69px;
  opacity: 1;
  gap: 82px;
  width: 452.3426208496094px;
height: 275.7232666015625px;
top: 118.18px;
left: 56.24px;
gap: 66.83px;
angle: 0 deg;
opacity: 1;

}
* {
  font-family: "Fredoka One", sans-serif;
  font-style: normal;
}
.botonresultado {
  position: absolute;
  width: 425px;
  height: 68.7621841430664px;

  opacity: 1;
  border-width: 6.63px;
  gap: 8.28px;
  border-radius: 49.71px;
  padding: 8.28px;
  background-color: #39abd9;
  border: #000000, solid, 6.63px;
  cursor: pointer;
  font-family: "Fredoka One";
  font-weight: 400;
  font-style: normal;
  font-size: 32.41px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 346.38848876953125px;
height: 56.043365478515625px;
top: 453.97px;
left: 112.47px;
border-radius: 40.51px;
border-width: 5.4px;
gap: 6.75px;
padding: 6.75px;
z-index: 100;
}
.btnatras {
  position: absolute;
   width: 228.09524536132812px;
height: 53.095237731933594px;
top: 20px;
left: 106px;
border-radius: 45.24px;
border-width: 3.62px;
gap: 9.05px;
angle: 0 deg;
opacity: 1;
padding: 9.05px;

}
.confeti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none; /* para que no bloquee clicks */
  display: none;
}
.display{
  display: block;
}
.zindex {
  z-index: 10;
}
.antizidex{
  z-index: -100;
display: block;
opacity: 0;
}
.borde{
    border:#39abd9, solid, 6.63px;
}