body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', Arial, sans-serif;
  background-image: url('juego\ pantalla\ general\ vista.png');
}
*{
    font-family: 'Fredoka One';
}
 

.containerdeimg {
    display: flex;
    flex-direction: column;
}
.imagen{
    width: 50px;
    height: auto;
    cursor: pointer;
    margin: 10px;
}
.boton{
    width: 165.16612243652344px;
height: 160.13568115234375px;
    gap: 10px;
    color: black;
    font-size: 50px;
    border-radius: 100%;
    font-family: Fredoka One;
font-weight: 400;
font-style: Regular;
font-size: 107.32px;
line-height: 100%;
letter-spacing: 0%;
background-color: #FFFFFFB2;;
border: 2.52px solid #FFFFFF;
}
.boton:hover{
padding: 5%;
 transition: all 0.3s ease;
}
.resultadodiv {
  position: fixed;
  top: 76.06px;
  left: 258.4px;
  transform: none;

  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;

  display: none;
  width: 701px;
  height: 682px;
  padding: 24px;
  box-sizing: border-box;
  opacity: 1;
}
.amarillo {
    background-color: #F3F36E;
    border: 15px solid #F7B81D;
}
.verde {
     background-color: #A4DFAD;
     border: 15px solid #16AC2D;
}
.rojo {
    background-color: #F37777;
    border: 15px solid #FF0000;
}
.cruz {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  transform: none;
  cursor: pointer;
}
.frame{
    width: 1267.6707763671875px;
height: 823.3153076171875px;
opacity: 1;
margin-top: 136.94px;
margin-left: 87.6px;
border: black,solid,6.71px;
background-color: #10CE2C;
}
.dinoazul{
    position: fixed;
    width: 224.69297790527344;
height: 192.83352661132812;
opacity: 1;
margin-top: 300.15px;
margin-left: 104.8px;
}
.dinoamarillo{
    position: fixed;
 width: 207.92483520507812px;
height: 185.28787231445312;
opacity: 1;
margin-top:12.58px ;
margin-left: 430.94px;
}
.dinovioleta{
    width: 285.0582580566406;
height: 219.6625213623047;
opacity: 1;
margin-top: 643.06px;
margin-left: 568.44px;
}
.boton1{
    position: fixed;
opacity: 1;
margin-top: 103.12px;
margin-left: 91.38px;
}
.boton2{
    position: fixed;
    width: 165.16612243652344;
height: 160.13568115234375;
opacity: 1;
margin-top: 162.65px;
margin-left: 336.2px;
border-width: 2.52px;
border-radius: 83.84px;
}
.boton3{
    position: fixed;
    width: 165.16612243652344;
    height: 160.13568115234375;
    opacity: 1;
   margin-top:  148.4px;
   margin-left:  581.01px;
    border-width: 2.52px;
    border-radius: 83.84px;
}
.boton4{
    position: fixed;
    width: 165.16612243652344;
height: 160.13568115234375;
opacity: 1;
margin-top: 354.65px;
margin-left: 562.57px;
border-width: 2.52px;
border-radius: 83.84px;
}
.boton5{
    position: fixed;
    width: 165.16612243652344;
height: 160.13568115234375;
opacity: 1;
border-width: 2.52px;
border-radius: 83.84px;
margin-top:435.13px; 
margin-left:347.94px;
}
.boton6{
    position: fixed;
    width: 165.16612243652344;
height: 160.13568115234375;
opacity: 1;
margin-top: 456.93px;
margin-left: 93.07px;
border-width: 2.52px;
border-radius: 83.84px;

}
.boton7{
    position: fixed;
    width: 165.16612243652344;
height: 160.13568115234375;
opacity: 1;
margin-top: 634.67px;
margin-left: 193.67px;
border-width: 2.52px;
border-radius: 83.84px;
}
.camino{
    
}