.containerdeimg {
    display: flex;
    flex-direction: column;  
  }
  
  .orden-1 {
    order: 5;
  }
#imagen1{
    width: 50px;   
        height: auto; 
       
  }
    #imagen2{
        width: 50px;   
        height: auto; 
        order: 1;  
    }