.containerdeimg {
    display: flex;
    flex-direction: column;  
  }

.imagen1, .imagen2, .imagen3{
    width: 50px;   
        height: auto; 
       
        cursor: pointer;
        margin: 10px;
  }
  .imagen1{
        width: 50px;   
        height: auto; 
        order: 1;  
    }
.imagen2{
        width: 50px;   
        height: auto; 
        order: 2;  
    }
    .imagen3{
      width: 50px;   
      height: auto; 
      order: 3;  
  }
    .orden-1 {
      order: -1;
    }
    .orden2{
      order: 2;
    }
    .boton{
        width: 100px;
        height: 100px; 
        order: 1;  
    }
      .boton:hover{
          background-color:aqua;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }