body {
    background-color: rgb(163, 223, 242);
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.azuloscuro {
    background-color: rgb(130, 219, 247);
    width: 1283.14px;
    height: 833.36px;
    display: flex;
    justify-content: center;
}

.comidas {
    
}

