body {
    background-color: #A3DFF2;
    display: flex;
}

.uno {
    position: absolute;
    width: 946px;
height: 530.0009765625px;
top: 135px;
left: 166px;
    opacity: 1;
    display: flex;
    z-index: 500;
}

.dos, .cinco, .seis, .siete, .ocho, .nueve, .once, .doce, .trece, .catorce {
    position: absolute;
    display: flex;
    z-index: 500;
    width: 942.1832885742188px;
height: 529.8985595703125px;
top: 135px;
left: 167.82px;
    opacity: 1;
}

.tres, .cuatro {
    position: absolute;
    display: flex;
    z-index: 500;
    width: 942.1832885742188px;
height: 577.51171875px;
top: 135px;
left: 167.82px;
opacity: 1;
}

.diez {
    position: absolute;
    width: 942.1832885742188px;
height: 577.51171875px;
top: 135px;
left: 167.82px;
opacity: 1;
}

.display {
    display: none;
}

.imagenlogo {
    position: absolute;
    width: 153px;
    height: 79px;
    top: 21px;
    left: 960px;
    opacity: 1;
}

.botonatras {
    position: absolute;
    top: 31px;
    left: 166px;
    opacity: 1;
    width: 252px;
    height: 59px;
}


.botonatras img {
    width: 252px;
    height: 59px;
}

.atras {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 321px;
left: 39px;
    opacity: 1;
    z-index: 1000;
}

.atras img {
    width: 100;
    height: 100;
    z-index: 1000;
}

.seguir {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 321px;
left: 1149px;
    opacity: 1;
    z-index: 1000;
}

.seguir img {
    width: 90px;
height: 90px;
opacity: 1;
    z-index: 1000;
}
