body {
    width: 1440px;
    height: 1024px;
    background-color: #A3DFF2;
    display: flex;
}

.uno {
    position: absolute;
    width: 1125.3271484375px;
    height: 763px;
    top: 180px;
    left: 153.84px;
    opacity: 1;
    display: flex;
    z-index: 500;
}

.dos, .tres, .cuatro, .cinco {
    position: absolute;
    display: flex;
    z-index: 500;
    width: 1121px;
    height: 763px;
    top: 185px;
    left: 155px;
    opacity: 1;
}

.seis {
    position: absolute;
    width: 1225.6339111328125px;
    height: 763px;
    top: 185px;
    left: 155px;
    opacity: 1;
}

.siete {
    position: absolute;
    width: 1190.6339111328125px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.ocho {
    position: absolute;
    width: 1121px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.nueve {
    position: absolute;
    width: 1204.6339111328125px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.diez {
    position: absolute;
    width: 1210px;
height: 873.0354614257812px;
top: 185px;
left: 155px;
opacity: 1;
}

.once {
    position: absolute;
    width: 1131px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.doce {
    position: absolute;
    width: 1194px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.trece {
    position: absolute;
    width: 1238.6339111328125px;
height: 763px;
top: 185px;
left: 155px;
opacity: 1;
}

.catorce {
    position: absolute;
    width: 1121px;
height: 830px;
top: 178px;
left: 159px;
opacity: 1;
}

.display {
    display: none;
}

.imagenlogo {
    position: absolute;
    width: 287px;
    height: 161.95px;
    top: 11px;
    left: 1141px;
}

.botonatras {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 38px;
    left: 110px;
    padding: 10px;
}


.botonatras img {
    width: 252px;
    height: 59px;
}

.atras {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 512px;
    left: 43px;
    rotate: -180 deg;
    opacity: 1;
    z-index: 1000;
}

.atras img {
    width: 100;
    height: 100;
    z-index: 1000;
}

.seguir {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 512px;
    left: 1294px;
    opacity: 1;
    z-index: 1000;
}

.seguir img {
    width: 100;
    height: 100;
    z-index: 1000;
}
