body {
    background-color: #A3DFF2;
    display: flex;
}

@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

img.visible {
    display: block !important;
}

.visible {
    display: block;
}
.display{
    display: none;
}
.colorcitos img, .anteojosysol img, .cabellos img {
    display: none;
}

.cartel {
    position: absolute;
    width: 1114px;
    height: 583px ;
    opacity: 1;
    top: 80px;
    left: 96px;
}

.pelo {
    position: absolute;
    z-index: 1400;
    left: 280px;
    top: 325px;
}

.pelo.mujer {
    position: absolute;
    z-index: 1400;
    left: 265px;
    top: 333px;
}

.colorcitos {
    position: absolute;
    z-index: 1200;
    left: 269px;
    top: 340px;
}

.anteojosysol {
    position: absolute;
    z-index: 1500;
    left: 297px;
    top: 423px;
}

.nombreyapellido {
    position: absolute;
    top: 390px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.ratio {
    position: absolute;
    top: 470px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.trofeos {
    position: absolute;
    top: 550px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.caminito {
    position: absolute;
    width: 299.7705993652344px;
    height: 412px;
    opacity: 1;
    top: 221px;
    left: 854px;
}

.tiritas {
    position: absolute;
    width: 1075px;
    height: 159px;
    opacity: 1;
    top: -1px;
    left: 121px;
    z-index: 1000;
}

.circulo {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 1;
    top: 94px;
    left: 123px;
}

.circulito {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 1;
    top: 94px;
    left: 1097px;
}

.trofeo1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 225px;
    left: 905px;
    opacity: 1;
    z-index: 1500;
}

.trofeo2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 260px;
    left: 1000px;
    opacity: 1;
    z-index: 1500;
}

.trofeo3 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 340px;
    left: 895px;
    opacity: 1;
    z-index: 1500;
}

.trofeo4 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 440px;
    left: 953px;
    opacity: 1;
    z-index: 1500;
}

.trofeo5 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 510px;
    left: 1070px;
    opacity: 1;
    z-index: 1500;
}

.trofeo6 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 550px;
    left: 940px;
    opacity: 1;
    z-index: 1500;
}

.volveratras {
    position: absolute;
    width: 107px;
    height: 69.20108795166016px;
    opacity: 1;
    top: 5px;
    left: 25px;
    background-color: transparent;
    border: none;
    z-index: 1500;
}

.tuperfil {
    position: absolute;
    opacity: 1;
    top: 94px;
    left: 434px;
}