body {
    background-color: #A3DFF2;
    display: flex;
    width: 1440px;
    height: 1024px;
}

.cartel {
    position: absolute;
    width: 1223px;
    height: 825px;
    opacity: 1;
    top: 99px;
    left: 105px;
}

.caminito {
    position: absolute;
    width: 406px;
    height: 558px;
    opacity: 1;
    top: 276px;
    left: 823px;
}

.tiritas {
    position: absolute;
    width: 1070.41015625px;
    height: 227.0563201904297px;
    opacity: 1;
    top: -1px;
    left: 184.09px;
    z-index: 1000;
}

.circulo {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 1;
    top: 144px;
    left: 160px;
}

.circulito {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 1;
    top: 144px;
    left: 1159px;
}

.volveratras {
    position: absolute;
    width: 107px;
    height: 69.20108795166016px;
    opacity: 1;
    top: 10px;
    left: 29px;
    background-color: transparent;
    border: none;
}

.tuperfil {
    position: absolute;
    opacity: 1;
    top: 137px;
    left: 475px;
}