body {
    background-color: #A3DFF2;
    display: flex;
    width: 1440px;
    height: 1024px;
}

@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

img.visible {
    display: block !important;
}

.visible {
    display: block;
}
.display{
    display: none;
}
.colorcitos img, .anteojosysol img, .cabellos img {
    display: none;
}

.cartel {
    position: absolute;
    width: 1223px;
    height: 825px;
    opacity: 1;
    top: 99px;
    left: 105px;
}

.pelo {
    position: absolute;
    z-index: 1400;
    left: 280px;
    top: 325px;
}

.pelo.mujer {
    position: absolute;
    z-index: 1400;
    left: 265px;
    top: 333px;
}

.colorcitos {
    position: absolute;
    z-index: 1200;
    left: 269px;
    top: 340px;
}

.anteojosysol {
    position: absolute;
    z-index: 1500;
    left: 297px;
    top: 423px;
}

.nombreyapellido {
    position: absolute;
    top: 540px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.ratio {
    position: absolute;
    top: 640px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.trofeos {
    position: absolute;
    top: 740px;
    left: 200px;
    width: 652px;
    height: 58px;
    opacity: 1;
    font-family: "Fredoka One";
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    z-index: 1500;
}

.caminito {
    position: absolute;
    width: 406px;
    height: 558px;
    opacity: 1;
    top: 276px;
    left: 823px;
}

.tiritas {
    position: absolute;
    width: 1070.41015625px;
    height: 227.0563201904297px;
    opacity: 1;
    top: -1px;
    left: 184.09px;
    z-index: 1000;
}

.circulo {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 1;
    top: 144px;
    left: 160px;
}

.circulito {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 1;
    top: 144px;
    left: 1159px;
}

.trofeo1 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 285px;
    left: 896px;
    opacity: 1;
    z-index: 1500;
}

.trofeo2 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 323px;
    left: 1024px;
    opacity: 1;
    z-index: 1500;
}

.trofeo3 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 431px;
    left: 885px;
    opacity: 1;
    z-index: 1500;
}

.trofeo4 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 558px;
    left: 953px;
    opacity: 1;
    z-index: 1500;
}

.trofeo5 {
    position: absolute;
    width: 95;
    height: 95;
    top: 717px;
    left: 1089px;
    opacity: 1;
    z-index: 1500;
}

.trofeo6 {
    position: absolute;
    width: 95;
    height: 95;
    top: 709px;
    left: 918px;
    opacity: 1;
    z-index: 1500;
}

.volveratras {
    position: absolute;
    width: 107px;
    height: 69.20108795166016px;
    opacity: 1;
    top: 10px;
    left: 29px;
    background-color: transparent;
    border: none;
}

.tuperfil {
    position: absolute;
    opacity: 1;
    top: 137px;
    left: 475px;
}