body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: #A3DFF2;
}
.queesladiabetes{
    position: absolute;
    width: 537px;
height: 509px;

border-radius: 45.49px;
border-width: 17.29px;
opacity: 1;
background: #16AC2D;
border: 17.29px solid #000000;
box-shadow: 0px 3.64px 3.64px 0px #00000040;
display: flex;
align-items: center;
text-align: center;
cursor: pointer;
width: 427px;
height: 404.7355651855469px;
top: 243px;
left: 117px;
border-radius: 36.17px;
border-width: 13.74px;
angle: 0 deg;
opacity: 1;

}
.pqueesladiabetes{


angle: 0 deg;
opacity: 1;

opacity: 1;
font-family: "Fredoka One";
font-weight: 400;
font-style: normal;
font-size: 92.6px;
line-height: 100%;
letter-spacing: 0%;
font-family: "Fredoka One";
font-weight: 400px;
font-style: normal;
font-size: 72.78px;
line-height: 150px;
letter-spacing: 0%;
 margin-bottom: 80px;
 display: flex;
align-items: center;
text-align: center;

}
header{
    width: 100%;
height: 115px;
opacity: 1;
background: #39ABD9;
}
.logo{
  position: absolute;

 width: 242;
height: 136.55714416503906;
top: 7px;
left: 141px;
angle: 0 deg;
opacity: 1;

}
.usuario{
position: absolute;
width: 88PX;
height: 88PX;
top: 14px;
left: 1074px;
border-width: 6.64px;
angle: 0 deg;
opacity: 1;
cursor: pointer;
}
.aprende{
    position: absolute;
top: 144px;
left: 141px;
border-width: 6.38px;
angle: 0 deg;
opacity: 1;
}
.juega{
position: absolute;
width: 254;
height: 90;
top: 144px;
left: 805px;
border-width: 6.23px;
angle: 0 deg;
opacity: 1;

}
.botonescont{
    position: absolute;
opacity: 1;
display: grid;
row-gap: 22.21px;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  grid-template-rows: repeat(2, auto); 
  width: 484.38543701171875px;
height: 405px;
top: 243px;
left: 713px;
}
.juego4{
  
   
    width: 199.21971130371094px;
height: 190.3921356201172px;


}
.juego2{

      width: 199.21971130371094px;
height: 190.3921356201172px;
}
.juego3{
   
        width: 199.21971130371094px;
height: 190.3921356201172px;
}
.juego1{
      width: 199.21971130371094px;
height: 190.3921356201172px;
}


