body {
    background-color: #A3DFF2;
    margin: 0;
    display: flex;
}

.amarillo {
    position: absolute;
    width: 1017px;
    height: 572px;
    opacity: 1;
    top: 120px;
    left: 120px;
    background-color: #FCEBD9;
    border-style: solid;
    border-width: 7.07px;
    border-color: black;
    display: flex;
    z-index: 500;
}

.logo {
    position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 5px;
    left: 961px;
    opacity: 1;
}

.titulo {
    position: absolute;
    width: 447px;
    height: 55px;
    opacity: 1;
    top: 28px;
    left: 312px;
    z-index: 1000;
}

.texto {
    position: absolute;
    width: 952px;
    height: 442px;
    opacity: 1;
    top: 96px;
    left: 26px;
    z-index: 1000;
}

.atras {
    position: absolute;
    top: 23px;
    left: 137px;
    opacity: 1;
    width: 252px;
    height: 59px;
}