body {
    width: 1440px;
    height: 1024px;
    background-color: #A3DFF2;
    margin: 0;
    display: flex;
}

.amarillo {
    position: absolute;
    width: 1218px;
    height: 842px;
    background-color: #FCEBD9;
    opacity: 1;
    top: 134px;
    left: 94px;
    border-style: solid;
    border-width: 7.07px;
    border-color: black;
    display: flex;
    z-index: 500;
}

.logo {
    position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 2px;
    left: 982px;
    opacity: 1;
}

.titulo {
    position: absolute;
    width: 715px;
    height: 77px;
    opacity: 1;
    top: 47px;
    left: 232px;
    z-index: 1000;
}

.texto {
    position: absolute;
    width: 1063px;
    height: 646px;
    opacity: 1;
    top: 158px;
    left: 74px;
    z-index: 1000;
}

.atras {
    position: absolute;
    top: 35px;
    left: 166px;
    opacity: 1;
    width: 252px;
    height: 59px;
}