body {
    background-color: #A3DFF2;
    display: flex;
    width: 1440px;
    height: 1024px;
}

.logo {
  position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 2px;
    left: 982px;
    opacity: 1;
}

.volveratras {
  position: absolute;
  top: 35px;
  left: 166px;
  opacity: 1;
  width: 252px;
  height: 59px;
}

.imagenesprimero, .imagenessegundo, .imagenestercero, .imagenescuarto {
    position: absolute;
    top: 171px;
    left: 156px;
}

.seguir {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 498px;
    left: 1298px;
    background-color: transparent;
    border: none;
    z-index: 20;
}

.atras {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 498px;
    left: 36px;
    background-color: transparent;
    border: none;
}
.imagenessegundo img {
  width: 100%;
  height: auto;
}

.block {
  display:initial;
}
.none {
  display: none;
}
