body {
    background-color: #A3DFF2;
    display: flex;
    width: 1280px;
    height: 720px;
}

.logo {
    position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 2px;
    left: 982px;
    opacity: 1;
}

.volveratras {
    position: absolute;
    top: 35px;
    left: 166px;
    opacity: 1;
    width: 252px;
    height: 59px;
}
.botones{
    position: absolute;
    width: 1142px;
height: 531px;
top: 136px;
left: 69px;
border-radius: 18.82px;
gap: 18.23px;
angle: 0 deg;
opacity: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.imagen1 {

width: 1142px;
height: 119.12476348876953px;
border-radius: 43.9px;
border-width: 4.7px;
angle: 0 deg;
opacity: 1;
}

.imagen2 {

width: 1142px;
height: 119.12476348876953px;
border-radius: 43.9px;
border-width: 4.7px;
angle: 0 deg;
opacity: 1;
}

.imagen3 {

    width: 1142px;
height: 119.12476348876953px;
border-radius: 43.9px;
border-width: 4.7px;
angle: 0 deg;
opacity: 1;
}

.imagen4 {
 
    width: 1142px;
height: 119.12476348876953px;
border-radius: 43.9px;
border-width: 4.7px;
angle: 0 deg;
opacity: 1;
}