body {
    background-color: #A3DFF2;
    display: flex;
    width: 1280px;
    height: 720px;
}

.logo {
    position: absolute;
    width: 266px;
    height: 150.09999084472656px;
    top: 2px;
    left: 982px;
    opacity: 1;
}

.volveratras {
    position: absolute;
    top: 35px;
    left: 166px;
    opacity: 1;
    width: 252px;
    height: 59px;
}

.boton1 {
    position: absolute;
    width: 1304px;
    height: 174px;
    top: 170px;
    background-color: transparent;
    border: none;
    left: 60px;
}

.boton2 {
    position: absolute;
    width: 1304px;
    height: 174px;
    top: 375px;
    background-color: transparent;
    border: none;
    left: 60px;
}

.boton3 {
    position: absolute;
    width: 1304px;
    height: 174px;
    top: 580px;
    background-color: transparent;
    border: none;
    left: 60px;
}

.boton4 {
    position: absolute;
    width: 1304px;
    height: 174px;
    top: 785px;
    background-color: transparent;
    border: none;
    left: 60px;
}