.tiritas{
    position: absolute;
    width: 1070.41015625;
height: 227.0563201904297;
top: -1px;
left: 184.09px;
angle: 0 deg;
opacity: 1;
border-width: 8px;
}
body{
    background: #A3DFF2;
padding: 0;
margin: 0;
}
.frame{
    position: absolute;
width: 1008px;
height: 560px;
top: 128px;
left: 136px;
border-radius: 20px;
border-width: 7.07px;
angle: 0 deg;
opacity: 1;
border-width: 8px;
background: #FCEBD9;
border: 8px solid #000000
}
.circulo{
    position: absolute;
    width: 100px;
height: 100px;
angle: 0 deg;
opacity: 1;
border: 8px solid #000000;
border-radius: 100%;

background: #A3DFF2;
}
.uno{
    width: 100;
height: 100;
top: 144px;
left: 1159px;
angle: 0 deg;
opacity: 1;

}
.dos{
    width: 100;
height: 100;
top: 144px;
left: 160px;
angle: 0 deg;
opacity: 1;
border-width: 8px;
}
.perfil{
    position: absolute;
width: 357;
height: 85;
top: 18px;
left: 318px;
border-width: 8px;
angle: 0 deg;
opacity: 1;

}
.eldivdemierda{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 684px;
height: 624px;
top: 155px;
left: 82px;
opacity: 1;
}
.divdemierdados{
    position: absolute;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   width: 604px;
height: 594px;
left: 686px;
angle: 0 deg;
opacity: 1;
}
.input{
    position: absolute;
    width: 58.29545593261719px;
height: 58.29545593261719px;
gap: 8.52px;
angle: 0 deg;
opacity: 1;
border-radius: 8.52px;
border-width: 6.82px;
angle: 0 deg;
opacity: 1;
border: 6.82px solid #000000;
font-family: "Fredoka One";
font-weight: 400;
font-style: Regular;
font-size: 27px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
top: 435px;
left: 806px;
}
.usuario{
    position: absolute;
   width: 422;
height: 75;
top: 136px;
left: 82px;
border-width: 6px;
angle: 0 deg;
opacity: 1;


}
.a{
    font-family: "Fredoka One";
font-weight: 400;
font-style: Regular;
font-size: 35px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: bottom;
}
.hijo{
     position: absolute;
     width: 204;
height: 75;
top: 136px;
left: 617px;
border-width: 6px;
angle: 0 deg;
opacity: 1;

}
.nombre{
    position: absolute;
    left: 552px;
    top: 224px;
   }
.dosis{
    position: absolute;
    top: 347px;
    width: 400px;
height: 126px;
left: 552px;
angle: 0 deg;
opacity: 1;
line-height: 1.3;
}
.usuariop{
    position: absolute;
   width: 536;
height: 42;
top: 224px;
left: 100px;
angle: 0 deg;
opacity: 1;
}
.contrap{
    position: absolute;
   width: 536;
   left: 100px;
   top: 289px;
}
.ratio{
    position: absolute;
    left: 552px;
    top: 289px;
    width: 442px;
height: 58px;
}
.nose{
    position: absolute;
    width: 58.29545593261719px;
height: 58.29545593261719px;
gap: 8.52px;
angle: 0 deg;
opacity: 1;
border-radius: 8.52px;
border-width: 6.82px;
angle: 0 deg;
opacity: 1;
border: 6.82px solid #000000;
font-family: "Fredoka One";
font-weight: 400;
font-style: Regular;
font-size: 27px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
top: 274px;
left: 655px;
}
.nenito{
    position: relative;
    width: 72.737060546875;
height: 97.941162109375;
top: 864px;
left: 788px;
angle: 0 deg;
opacity: 1;
}
.pss{
    position: absolute;
    font-family: "Fredoka One";
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

    width: 255px;
height: 96px;
top: 835px;
left: 885px;
angle: 0 deg;
opacity: 1;
}
.ceropixeles{
    position: absolute;
    background-color: #000000;
   width: 1px;
height: 486.5px;
top: 194px;
left: -50px;
angle: 0 deg;
opacity: 1;
border-width: 1px;
}
.flechita{
background-color: transparent;
}
.botonatras{
    position: absolute;
width: 224px;
height: 52px;
top: 23px;
left: 137px;
border-radius: 50px;
border-width: 4px;
gap: 10px;
angle: 0 deg;
opacity: 1;
padding: 10px;

}
.logo{
    position: absolute;
 top: 5px;
left: 961px;
angle: 0 deg;
opacity: 1;

}