.tiritas{
    position: absolute;
    width: 1070.41015625;
height: 227.0563201904297;
top: -1px;
left: 184.09px;
opacity: 1;
border-width: 8px;
}
body{
    background: #A3DFF2;
padding: 0;
margin: 0;
}
.frame{
    position: absolute;
    width: 1223px;
height: 870px;
top: 99px;
left: 105px;
opacity: 1;
border-width: 8px;
background: #FCEBD9;
border: 8px solid #000000
}
.circulo{
    position: absolute;
    width: 100px;
height: 100px;
opacity: 1;
border: 8px solid #000000;
border-radius: 100%;

background: #A3DFF2;
}
.perfil{
    position: absolute;
top: 138px;
left: 475px;
opacity: 1;
border-width: 8px;
}
.eldivdemierda{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 684px;
height: 624px;
top: 155px;
left: 82px;
opacity: 1;
}
.divdemierdados{
    position: absolute;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   width: 604px;
height: 594px;
left: 686px;
opacity: 1;
}

.usuario{
    position: absolute;
    top: 190px;
    left: 150px;
    opacity: 1;
}

.usuarioul {
    position: absolute;
    display: flex;
    columns: auto;
    flex-direction: column;
    top: 250px;
    left: 90px;
}
.a{
    font-family: "Fredoka One";
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 35px;
}
.hijo{
    position: absolute;
    top: 170px;
    left: 80px;
    opacity: 1;
}

.nenito{
    position: relative;
    width: 72.737060546875;
height: 97.941162109375;
top: 864px;
left: 788px;
opacity: 1;
}
.pss{
    position: absolute;
    font-family: "Fredoka One";
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

    width: 255px;
height: 96px;
top: 835px;
left: 885px;
opacity: 1;
}

.flechita{
background-color: transparent;
}
.botonatras{
    position: absolute;
   width: 107px;
height: 69.20108795166016px;
top: 14px;
left: 82px;
gap: 5.82px;
opacity: 1;
border-radius: 30px;
border-width: 8px;
padding-top: 14.54px;
padding-right: 29.08px;
padding-bottom: 14.54px;
padding-left: 29.08px;
background:transparent;
border: 8px solid #A18F8F;
display: flex;
justify-content: center;
align-items: center;
}